.todoContainer {
    margin: 0 auto;
}
.todoWrapper { 
  margin-top: 30px;
}
.todoHeading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 16px;
    text-align: center;
    margin-top: 50px;
}
.todoButton {
    background: transparent;
    padding: 10px;
    width: 30vmin;
    margin-top: 10px;
    border: 1px solid rgb(0, 204, 0);
    color: rgb(0, 204, 0);
    border-radius: 10px;
}

.todoHeader {
    width: 100vw;
    background-image: url('../../assets/images/bg-desktop-dark.jpg');
    position: absolute;
    top: 0;
    height: 25vh;
    z-index: -9;
}

.card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
    width: 90vmin;
    background-color: hsl(235, 24%, 19%);
    box-shadow: 1px 2px 2px black;
}
.card_footer > li {
    cursor: pointer;
    list-style: none;
    color: hsl(233, 14%, 35%); 
    margin: 10px 20px;
}

.footer_middle_section > li {
    display: flex;
    list-style: none;
    color: hsl(233, 14%, 35%);
    margin: 20px 10px;
}

.filter_active {
    color: purple !important;
}
.clear_completed {
    background: transparent;
    border: none;
    color: hsl(233, 14%, 35%);
    font-weight: 600;
    cursor: pointer;
}
.footer_middle_section {
    display: flex;
}

@media(min-width: 1000px) {
    .card_footer {
        width: 50vmin;
    }
}